* {
    margin: 0;
    padding: 0;
    background-color: black;
}
.ham{
    height: 20px;
    width: 25px;
    margin-top: 23px;
    margin-left: 300px;
    display: none;
}
.overflow{
    overflow: hidden;
}
.container img {
    position: relative;
}
.myphoto {
    margin-bottom: 100px;
    width: 100%;
    height: auto;
}
.myphoto1{
    height: 650px;
    width: 550px;
    align-items: center;
   display: none;
   position: relative;

}

.hovy {
    position: absolute;
    top: 300px;
    left: 95px;
    color: white;
    font-size: 20px;
    font-family:'Maven Pro', sans-serif;
}

.nav {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: +1;
    background-color: black;
    width: 100%;
    font-family:'Maven Pro', sans-serif;
}

.nav ul {
    margin-left: 690px;
    margin-top: 20px;
    margin-right: 30px;
}

.nav li {
    display: inline;
    margin: 40px;

}

.logo {
    height: 65px;
    width: 63px;
    margin-left: 95px;
    margin-top: 10px;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
}

.nav li a:hover {
    color: rgb(253, 72, 102);
    transform: scale(1.2,1.2);
   
}

.myname {
    display: flex;
    position: absolute;
    top: 335px;
    left: 95px;
    font-size: 60px;
    font-weight: 400;
    color: white;
}

.name {
    margin-left: 20px;
    color: rgb(253, 72, 102);
    position: relative;

}

.name::after {
    content: "";
    border-left: 5px solid rgb(253, 72, 102);
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    left: 0;
    animation: typing 2s steps(11) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.from {
    position: absolute;
    top: 80px;
    left: 0px;
    font-size: 60px;
    font-weight: 400;
    color: white;
}

.btn {
    height: 40px;
    width: 110px;
    position: absolute;
    top: 550px;
    left: 95px;
    background-color: rgb(253, 72, 102);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-family:'Maven Pro', sans-serif;

}

.about {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    display: inline;
    background: rgb(253, 72, 102);
    justify-content: center;
    margin-left: 48%;
    margin-top: 100px;
}

.know {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Maven Pro', sans-serif;
}

.me {
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.jain {
    height: 400px;
    width: 400px;
    margin-left: 80px;
    transition: 2s;
}
.jain:hover{
    transform: scale(1.1,1.1);
}

.me p {
    color: white;
    font-size: 25px;
    font-weight: 200;
    line-height: 40px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: 'Kalam', cursive;

}
.do{
    margin-top: 200px;
}

.aboutme {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 400;
}
.jain{
    margin-left: 50px;
}

.resume{
    display: flex;
    justify-content: space-evenly;
    line-height: 35px;
    margin-top: 20px;

}
.p1{
    color: rgb(83, 83, 83);
    font-size: 25px
}
.pans{
    color: rgb(253, 72, 102);
    font-size: 25px;
    font-family:'Maven Pro';
}
.help{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.help :hover{
    background-color: rgb(54, 53, 53);
    border-radius: 50px;
}
.helpfor img{
    height: 200px;
    width: 200px;
    margin-left: 145px;
    border-radius: 100px;
    margin-top: 50px;

}
.helpabout{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Signika Negative', sans-serif;

}
.helpfor button{
    background-color:rgb(253, 72, 102);
    margin-left: 42%;
    height: 32px;
    width: 100px;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
    color: white;
    border: 0.1px solid white;
    font-family:'Maven Pro', sans-serif;
}
.cv{
    margin-top: 100px;
}
.education{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 100px;
}
.myeducation{
    border-left: 3px solid rgb(253, 72, 102);
}
.myskill{
    border-left: 3px solid rgb(253, 72, 102);
}
.myedu{
    margin-left: 20px;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: Cambria, Times, 'Times New Roman', serif;
}
.collage{
    margin-top: 20px;
    font-size: 28px;
    margin-left: 20px;
    font-family: 'Kaushan Script', cursive;
}
.aboutedu{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: cursive;
}
.where{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-family:'Maven Pro', sans-serif;
}
.education hr{
    margin-top: 50px;
    margin-bottom: 50px;
}
.project{
    margin-top: 100px;
    margin-bottom: 50px;
}

.kno{
    color: rgb(253, 72, 102);
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    background-color: rgb(41, 41, 41);
    padding-top: 50px;
}
.last{
    text-align: center;
    color: white;
    background-color:rgb(41, 41, 41) ;
    padding-top: 30px;
    font-size: 25px;
    line-height: 40px;
    font-family: 'Kalam', cursive;

}
.project{
    display: flex;
    justify-content:space-evenly ;
    position: relative;
    overflow: hidden;
}
.pro{
    overflow: hidden;
}
.pro img{
    height: 300px;
    width: 400px;
    transition: 2s;
    
}
.pro img:hover{
    transform: scale(1.1,1.1);
}
.img_con{
    height: 100%;
    width: 400px;
    bottom: -100%;
    overflow: hidden;
    position: absolute;
    backdrop-filter: blur(6px);
    background: cover;
    background-color: rgba(253, 72, 102, 0.046);
    border-radius: 0px;
    transition: 2s;
}
.pro:hover .img_con{
    bottom: 0;
    transform: scale(1.1,1.1);
}
.aboutproject{
    background-color: transparent;
    color:white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
}
.img_con button{
    background-color: rgb(253, 72, 102);
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 15px;
    margin-left: 38%;
    margin-top: 20px;
}
.img_con button a{
    background: transparent;
    color: white;
    text-decoration: none;
    font-family:'Maven Pro', sans-serif;
}
.moreabout{
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
    background: transparent;
    color: white;
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
}
.aboutproject1{
    background-color: transparent;
    color:rgb(17, 45, 17);
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
}
.moreabout1{
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
    background: transparent;
    color: rgb(37, 64, 37);
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
}
.aboutproject2{
    background-color: transparent;
    color:rgb(142, 0, 0);
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
}
.moreabout2{
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
    background: transparent;
    color: rgb(142, 0, 0);
    margin-top: 20px;
    text-align: center;
    margin-right: 30px;
}
.footer{
    margin-top: 150px;
}
.live{
    background-color:rgb(41, 41, 41) ;
    text-align: center;
    padding-top: 30px;
    color: rgb(253, 72, 102);
    font-size: 25px;
    
}
.living{
    background-color:rgb(41, 41, 41) ;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Kalam', cursive;
}
.follo{
    display: flex;
    justify-content: center;
    background: rgb(41, 41, 41);
}
.follo img{
    height: 30px;
    width: 30px;
    background: rgb(41, 41, 41);
    padding-top: 30px;
    margin: 10px;
     /* transform: scale(2,2); */
     margin-bottom: 50px;
     transition: 1s;
}
.follo img:hover{
    transform: scale(1.1,1.1);
}